/* <!-- hero section start --> */

.hero_info_btn {
    padding: 18px 40px;
    background-color: rgba(120, 86, 255, 1);
    color: white;
    border-radius: 18px;
    font-size: 20px;
    margin-top: 30px;
    transition: 1s;
    padding-top: 12px;
}

.hero_info_btn:hover {
    background-color: var(--sky-color);
    box-shadow: 0 0 2px rgba(120, 86, 255, 1), 0 0 10px rgba(120, 86, 255, 1), 0 0 25px rgba(120, 86, 255, 1), 0 0 50px rgba(120, 86, 255, 1), 0 0 150px rgba(120, 86, 255, 1);
    color: var(--white-color);
    transition: 3s;
}
/* <!-- hero section end --> */

/* <!-- offers section start --> */
#offer_count {
    background: rgba(27, 11, 59, 1);
    /* width: 420px;
    height: 400px; */
    border-radius: 30px;
    padding: 40px;
}

#offer_count span {
    background: linear-gradient(90deg, #E1D7FD -5.56%, #7856FF 109.09%);
    font-size: 80px;
    font-weight: bold;
    background-clip: text;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

#offer_count h2 {
    color: #E1D7FD;
    font-size: 35px;
    font-weight: 700;
    margin-top: 20px;
}

#offer_count p {
    color: #E1D7FD;
    font-size: 20px;
    margin-top: 10px;
}

#offer_card_icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    angle: 0 deg;
    opacity: 1;
    top: 18.41px;
    left: 296.93px;
    background: rgba(232, 221, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;

}

#offer_card_icon img{
    width: 60px;
    height: 60px;
    angle: 0 deg;
    opacity: 1;
    top: 39.68px;
    left: 318.5px;

}
/* <!-- offers section end --> */

